<p-panel header="Pipes Basicos" class="p-2">
  <p>Pipes incluidos en angular - Usualmente en el common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{nameLower | uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowecase">
      {{nameUpper | lowercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{nameComplete | titlecase}}
    </p-card>
  </div>

</div>
